<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iTunesModule</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.iTunesModule</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTunesModule</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1A</string>
	<key>NSPrincipalClass</key>
	<string>iTunesModule</string>
	<key>QSActions</key>
	<dict>
		<key>Play</key>
		<dict>
			<key>actionClass</key>
			<string>iTunesModuleAction</string>
			<key>actionSelector</key>
			<string>playSong:</string>
			<key>directTypes</key>
			<array>
				<string>iTunesModuleSong</string>
				<string>iTunesModuleArtist</string>
				<string>iTunesModuleAlbum</string>
				<string>iTunesModuleGenre</string>
				<string>iTunesModulePlaylist</string>
			</array>
			<key>name</key>
			<string>Play</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>Play Next</key>
		<dict>
			<key>actionClass</key>
			<string>iTunesModuleAction</string>
			<key>actionSelector</key>
			<string>playNextInPartyShuffle:</string>
			<key>directTypes</key>
			<array>
				<string>iTunesModuleSong</string>
				<string>iTunesModuleArtist</string>
				<string>iTunesModuleAlbum</string>
				<string>iTunesModuleGenre</string>
				<string>iTunesModulePlaylist</string>
			</array>
			<key>name</key>
			<string>Play Next In Party Shuffle</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>Rate Song</key>
		<dict>
			<key>actionClass</key>
			<string>iTunesModuleAction</string>
			<key>actionSelector</key>
			<string>rateSong:</string>
			<key>directTypes</key>
			<array>
				<string>iTunesModuleSong</string>
			</array>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>iTunesModuleRating</string>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Rate Song</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>James Parker</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>Music</string>
		</array>
		<key>description</key>
		<string>iTunes Module</string>
		<key>icon</key>
		<string></string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>iTunes item</key>
					<true/>
					<key>enabled</key>
					<true/>
					<key>ID</key>
					<string>iTunesModulePlaylist</string>
					<key>name</key>
					<string>Songs</string>
					<key>source</key>
					<string>iTunesModuleSource</string>
				</dict>
				<dict>
					<key>iTunes item</key>
					<true/>
					<key>enabled</key>
					<true/>
					<key>ID</key>
					<string>iTunesModuleArtist</string>
					<key>name</key>
					<string>Artists</string>
					<key>source</key>
					<string>iTunesModuleSource</string>
				</dict>
				<dict>
					<key>iTunes item</key>
					<true/>
					<key>enabled</key>
					<true/>
					<key>ID</key>
					<string>iTunesModuleAlbum</string>
					<key>name</key>
					<string>Albums</string>
					<key>source</key>
					<string>iTunesModuleSource</string>
				</dict>
				<dict>
					<key>iTunes item</key>
					<true/>
					<key>enabled</key>
					<false/>
					<key>ID</key>
					<string>iTunesModuleGenre</string>
					<key>name</key>
					<string>Genres</string>
					<key>source</key>
					<string>iTunesModuleSource</string>
				</dict>
				<dict>
					<key>iTunes item</key>
					<true/>
					<key>enabled</key>
					<true/>
					<key>ID</key>
					<string>iTunesModulePlaylist</string>
					<key>name</key>
					<string>Playlists</string>
					<key>source</key>
					<string>iTunesModuleSource</string>
				</dict>
				<dict>
					<key>iTunes item</key>
					<true/>
					<key>enabled</key>
					<true/>
					<key>ID</key>
					<string>iTunesModuleRating</string>
					<key>name</key>
					<string>Ratings</string>
					<key>source</key>
					<string>iTunesModuleSource</string>
				</dict>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>com.apple.iTunes</string>
			<key>ID</key>
			<string>QSPresetITunesGroup</string>
			<key>name</key>
			<string>iTunes</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>iTunesModuleAction</key>
			<string>iTunesModuleAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.blacktree.Quicksilver.iTunesModule</key>
			<string>iTunesModuleSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>iTunesModuleAlbum</key>
			<string>iTunesModuleSource</string>
			<key>iTunesModuleArtist</key>
			<string>iTunesModuleSource</string>
			<key>iTunesModuleGenre</key>
			<string>iTunesModuleSource</string>
			<key>iTunesModulePlaylist</key>
			<string>iTunesModuleSource</string>
			<key>iTunesModuleRating</key>
			<string>iTunesModuleSource</string>
			<key>iTunesModuleSong</key>
			<string>iTunesModuleSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>iTunesModuleSource</key>
			<string>iTunesModuleSource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>iTunesModule_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>iTunesModule</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>iTunesModuleRating</key>
			<dict>
				<key>icon</key>
				<string>DefaultBookmarkIcon</string>
				<key>name</key>
				<string>iTunes Rating</string>
			</dict>
			<key>iTunesModuleSong</key>
			<dict>
				<key>icon</key>
				<string>DefaultBookmarkIcon</string>
				<key>name</key>
				<string>iTunes Songs</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
